table, th, td{
    border: 1px solid red;
    border-collapse: collapse;
    border-style: dotted;
    border-top: 2px solid green;
    margin-left: 25px;
    padding: 10px;
}

th{
    border-top: 2px solid black ;
    border-bottom: 3px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black ;
    padding-left: 16px;
}