table,th,td{
border: 1px solid cadetblue;
border-collapse: collapse;
border-top: 4px solid rgb(0, 0, 0);
border-bottom:4px solid rgb(0, 0, 0);
border-left: 4px solid black ;
border-right: 4px solid black;
margin-left: 10px;

padding: 8px;
text-align: center; /* Text-align: Center centralizara todo o texto no meio seja da tabela ou do parágrafo*/
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
overflow: hidden;
width: 45%;
}

th{
    padding: 5px; /*Espaçamento entre as bordas internas*/
}
tbody{
    padding: 12px 16px;
    border-bottom: 1px solid #ff0505;
    color: #b10000;
}

thead{
    background-color: #928181;
}
 
thead tr:hover{ /*Adicione um efeito quando o mouse passa por cima, alterando sua cor hehe*/
    background-color: #b10000;
}

tbody tr:hover{
    background-color: aqua;
}

tfoot tr:hover{
    background-color: #ff0505;
}

