table,th,td{
border: 1px solid cadetblue;
border-collapse: collapse;
border-top: 4px solid green;
border-bottom:4px solid green;
border-left: 4px solid black ;
border-right: 4px solid black;
margin-left: 65px;
padding: 8px;
}

th{
    padding: 5px;
}