ul {
    list-style-type: circle;
    color: aliceblue;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 60%;
}

p {
    color: aliceblue;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: auto;
    width: 60%;



}

body {
    background-color: darkslategrey;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: auto;
    width: 60%;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: auto;
    width: 60%;
}

a {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 60%;

}